<p id="notice"><%= notice %></p>

<div class="flex flex-row">
<h1 class="mt-8">微博详情</h1>
</div>

<div id="app" class="mt-8">
  <tweet :origin_tweet="<%= @tweet_json %>"></tweet>
</div>
<%= javascript_pack_tag 'tweets/show.js' %>

<% if is_mine(@tweet.user_id) %>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<% end %>
<%= link_to 'Back', tweets_path %>
