<%= form_with(model: user, local: true, class: 'mt-8') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">Profile</h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">
        This information will be displayed publicly so be careful what you share.
      </p>
    </div>

    <div class="sm:col-span-6 mt-6">
      <label for="photo" class="block text-sm leading-5 font-medium text-gray-700">
        Photo
      </label>
      <div class="mt-2 flex items-center" x-data="avatarData()">
        <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
          <img x-show="avatarImage" x-ref="imagePreview" class="w-full h-full object-cover" />
          <svg x-show="avatarImage === ''" class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
            <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
          </svg>

        </span>
        <span class="ml-5 rounded-md shadow-sm">
          <input type="file" name="avatar-image" @change="updateAvatar($refs.file.files[0])" x-ref="file" x-model="avatarImage" accept="image/*" class="hidden"/>
          <button type="button" @click="$refs.file.click()" class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
            Change
          </button>
        </span>
      </div>
    </div>

    <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
      <div class="sm:col-span-4">
        <%= form.label :nickname, class: "block text-sm font-medium leading-5 text-gray-700" %>
        <div class="mt-1 flex rounded-md shadow-sm">
          <%= form.text_field :nickname, class: "flex-1 form-input block w-full min-w-0 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
        </div>
      </div>

      <div class="sm:col-span-6">
        <label for="about" class="block text-sm font-medium leading-5 text-gray-700">About</label>
        <div class="mt-1 rounded-md shadow-sm">
          <%= form.text_area :bio, class: "form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5", rows: "3" %>
        </div>
        <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
      </div>

    </div>
  </div>


  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <a href="/" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
          Cancel
        </a>
      </span>
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <%= form.submit "Save",  class: "inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out"%>
      </span>
    </div>
  </div>

<% end %>

<script>
  function avatarData() {
    return {
      avatarImage: '',

      updateAvatar(image) {
        const reader = new FileReader();
        reader.onload = e => {
          this.$refs.imagePreview.src = e.target.result;
        }
        reader.readAsDataURL(image);
      }
    }
  }

</script>
