<nav class="bg-gray-800">
  <div class="max-w-4xl px-2 mx-auto sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <a href="/"><%= image_tag "logo_transparent.png", class: 'w-32 h-12 object-cover' %></a>
        </div>
      </div>
      <div class="flex justify-center flex-1 px-2 lg:ml-6 lg:justify-end" x-data="searchData()">
        <div class="w-full max-w-lg lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input id="search" class="block w-full py-2 pl-10 pr-3 text-gray-300 placeholder-gray-400 bg-gray-700 border border-transparent rounded-md leading-5 focus:outline-none focus:bg-white focus:text-gray-900 sm:text-sm transition duration-150 ease-in-out" placeholder="Search" type="search" x-model="searchQuery" x-on:keydown.enter="performSearch" />
          </div>
        </div>
      </div>
      <div class="lg:block lg:ml-2">
        <div class="flex items-center">
          <a href="https://github.com/ChrisZou/geekweibo" class="flex overflow-hidden text-sm text-white rounded-full focus:outline-none hover:text-indigo-400 transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
            Github
          </a>

          <!-- Notifications -->
          <% if user_signed_in? %>
            <div x-data="notificationData()" x-init="loadNotification()">
              <button 
                class="relative flex-shrink-0 p-1 font-bold text-gray-400 border-2 border-transparent rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" 
                @click="showNotifications()"
                aria-label="Notifications">
                <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"/>
                </svg>
                <span x-show="unread_notification_count > 0" x-text="unread_notification_count" class="absolute top-0 right-0 px-1 text-white bg-red-500 rounded-full" style="font-size: 0.5em;"><span>
              </button>

              <div class="absolute right-0 w-48 mt-2 shadow-lg origin-top-right rounded-md" x-show.transition="show_notification_list && notifications.length > 0" @click.away="show_notification_list = false">
                <div class="py-1 bg-white rounded-md shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                  <template x-for="(notification, index) in notifications" :key="index">
                    <a x-bind:href="notificationUrl(notification)" 
                       role="menuitem"
                       class="block px-4 py-2 text-sm text-gray-700 leading-5 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" 
                       x-text="notificationTitle(notification)"></a>
                  </template>
                </div>
              </div>

            </div>
          <% end %>

          <!-- Profile dropdown -->
          <div class="relative flex-shrink-0 ml-4" x-data="{open: false}">
            <div>
              <button @click="open = !open" class="flex overflow-hidden text-sm text-white rounded-full focus:outline-none focus:shadow-solid transition duration-150 ease-in-out" id="user-menu" aria-label="User menu" aria-haspopup="true">
                <% if user_signed_in? %>
                  <%= image_tag user_avatar(current_user), class: "w-8 h-8 object-cover" %>
                <% else %>
                  <span class="inline-block w-8 h-8 overflow-hidden bg-gray-700 rounded-full">
                    <svg class="w-full h-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                      <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  </span>
                <% end %>
              </button>
            </div>
            <!-- Profile dropdown panel, show/hide based on dropdown state.  -->
            <div class="absolute right-0 w-48 mt-2 shadow-lg origin-top-right rounded-md" x-show.transition="open" @click.away="open = false">
              <div class="py-1 bg-white rounded-md shadow-xs" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                <% if current_user %>
                  <a href="<%= user_path(current_user) %>" class="block px-4 py-2 text-sm text-gray-700 leading-5 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" role="menuitem">Your Profile</a>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
                  <%= link_to "About", "/about/index", class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
                <% else %>
                  <%= link_to "Github 登录(由于国内网络原因，可能需要多试几次)", user_github_omniauth_authorize_path, class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
                  <%= link_to "登录意味着你同意用户协议和隐私政策", "/welcome/agreement", class: "block px-4 py-2 text-xs text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
                  <%= link_to "About", "/about/index", class: "block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out", role: "menuitem" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript" charset="utf-8">
  function searchData() {
    return {
      searchQuery: '',
      performSearch() {
        window.location = "/?q=" + this.searchQuery
      }
    }
  }

function notificationData() {
  return {
    notifications: [],
    show_notification_list: false,
    unread_notification_count: 0,
    loadNotification() {
      get('/notifications').then(data => {
        this.notifications = data
        this.unread_notification_count = data.filter(n => n.read_at == null).length
      })
    },
    showNotifications() {
      if (this.notifications.length == 0) return
      this.show_notification_list = true
      post('/notifications/mark_read')
    },
    notificationUrl(notification) {
      return `/tweets/${notification.notifiable_id}`
    },
    notificationTitle(notification) {
      return `${notification.actor.nickname} ${this.actionTitle(notification.action)}了你的微博`
    },
    actionTitle(action) {
      if (action == "like") return "赞"
      if (action == "comment") return "评论"
      return "djafklfjasdf"
    }
  }
}
</script>
