<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight">
<head>
  <title>Geekweibo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <% if current_user %>
    <script>
      sessionStorage.setItem("current_user_id", "<%= current_user.id %>")
    </script>
  <% end %>
</head>

<body class="min-h-screen bg-gray-100">

<%= render "layouts/header" %>

<main role="main">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="max-w-3xl mx-auto">
      <!-- Content goes here -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </div>
</main>

</body>
</html>
