<!DOCTYPE html>
<html class="antialiased leading-tight text-gray-900">
<head>
  <title>极客微博</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag asset_path('favicon.png') %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

  <% if current_user %>
    <%= javascript_tag "sessionStorage.setItem('current_user', '#{current_user_json}');\nsessionStorage.setItem('loggedIn', 'true') " %>
  <% else %>
    <%= javascript_tag "sessionStorage.removeItem('loggedIn');\nsessionStorage.removeItem('current_user')" %> 
  <% end %>

</head>

<body class="min-h-screen bg-gray-100">

<%= render "layouts/header" %>

<main role="main">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="max-w-3xl mx-auto">
      <!-- Content goes here -->
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div>
        <%= yield %>
      </div>
    </div>
  </div>
</main>

</body>
</html>
