<!DOCTYPE html>
<html class="antialiased leading-tight text-gray-900">
<head>
  <title>极客微博</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag asset_path('favicon.png') %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload'  %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'  %>

  <% if current_user %>
    <%= javascript_tag "sessionStorage.setItem('current_user', '#{current_user_json}');\nsessionStorage.setItem('loggedIn', 'true') " %>
  <% else %>
    <%= javascript_tag "sessionStorage.removeItem('loggedIn');\nsessionStorage.removeItem('current_user')" %> 
  <% end %>

</head>

<body class="min-h-screen bg-gray-100">
  <div class="relative">
    <%= render "layouts/header" %>

    <% if notice %>
      <div class="absolute top-0 left-auto right-auto w-full ">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="max-w-4xl p-4 m-auto animate__animated animate__fadeOut animate__delay-2s rounded-md bg-green-50">
          <div class="flex">
            <div class="flex-shrink-0">
              <!-- Heroicon name: check-circle -->
              <svg class="w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
              </svg>
            </div>
            <div class="ml-3">
              <p class="text-sm font-medium text-green-800"> <%= notice %> </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <main role="main">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
      <div class="max-w-3xl mx-auto">
        <!-- Content goes here -->
        <p class="alert"><%= alert %></p>

        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
